@-ms-viewport {
  width: device-width;
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

.madeit-text-success {
  color: #28a745 !important;
}

a.madeit-text-success:focus, a.madeit-text-success:hover {
  color: #1e7e34 !important;
}

.madeit-text-warning {
  color: #ffc107 !important;
}

a.madeit-text-warning:focus, a.madeit-text-warning:hover {
  color: #d39e00 !important;
}

.madeit-text-danger {
  color: #dc3545 !important;
}

a.madeit-text-danger:focus, a.text-danger:hover {
  color: #bd2130 !important;
}

.madeit-text-left {
  text-align: left !important;
}

.madeit-text-right {
  text-align: right !important;
}

.madeit-text-center {
  text-align: center !important;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


.madeit-alert-warning {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.madeit-alert-success {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.madeit-alert-danger {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.madeit-btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.madeit-btn-outline-primary {
    color: #007bff;
    background-color: transparent;
    background-image: none;
    border-color: #007bff;
    text-decoration: none;
}

.madeit-btn-outline-primary:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.madeit-btn:focus, .madeit-btn:hover {
    text-decoration: none;
}

.madeit-container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}

@media (min-width: 576px) {
  .madeit-container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .madeit-container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .madeit-container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .madeit-container {
    max-width: 1140px;
  }
}

.madeit-container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}

.madeit-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.madeit-col-1, .madeit-col-2, .madeit-col-3, .madeit-col-4, .madeit-col-5, .madeit-col-6, .madeit-col-7, .madeit-col-8, .madeit-col-9, .madeit-col-10, .madeit-col-11, .madeit-col-12, .madeit-col,
.madeit-col-auto, .madeit-col-sm-1, .madeit-col-sm-2, .madeit-col-sm-3, .madeit-col-sm-4, .madeit-col-sm-5, .madeit-col-sm-6, .madeit-col-sm-7, .madeit-col-sm-8, .madeit-col-sm-9, .madeit-col-sm-10, .madeit-col-sm-11, .madeit-col-sm-12, .madeit-col-sm,
.madeit-col-sm-auto, .madeit-col-md-1, .madeit-col-md-2, .madeit-col-md-3, .madeit-col-md-4, .madeit-col-md-5, .madeit-col-md-6, .madeit-col-md-7, .madeit-col-md-8, .madeit-col-md-9, .madeit-col-md-10, .madeit-col-md-11, .madeit-col-md-12, .madeit-col-md,
.madeit-col-md-auto, .madeit-col-lg-1, .madeit-col-lg-2, .madeit-col-lg-3, .madeit-col-lg-4, .madeit-col-lg-5, .madeit-col-lg-6, .madeit-col-lg-7, .madeit-col-lg-8, .madeit-col-lg-9, .madeit-col-lg-10, .madeit-col-lg-11, .madeit-col-lg-12, .madeit-col-lg,
.madeit-col-lg-auto, .madeit-col-xl-1, .madeit-col-xl-2, .madeit-col-xl-3, .madeit-col-xl-4, .madeit-col-xl-5, .madeit-col-xl-6, .madeit-col-xl-7, .madeit-col-xl-8, .madeit-col-xl-9, .madeit-col-xl-10, .madeit-col-xl-11, .madeit-col-xl-12, .madeit-col-xl,
.madeit-col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.madeit-col {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -ms-flex-positive: 1;
      flex-grow: 1;
  max-width: 100%;
}

.madeit-col-auto {
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  width: auto;
  max-width: none;
}

.madeit-col-1 {
  -ms-flex: 0 0 8.333333%;
      flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.madeit-col-2 {
  -ms-flex: 0 0 16.666667%;
      flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.madeit-col-3 {
  -ms-flex: 0 0 25%;
      flex: 0 0 25%;
  max-width: 25%;
}

.madeit-col-4 {
  -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.madeit-col-5 {
  -ms-flex: 0 0 41.666667%;
      flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.madeit-col-6 {
  -ms-flex: 0 0 50%;
      flex: 0 0 50%;
  max-width: 50%;
}

.madeit-col-7 {
  -ms-flex: 0 0 58.333333%;
      flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.madeit-col-8 {
  -ms-flex: 0 0 66.666667%;
      flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.madeit-col-9 {
  -ms-flex: 0 0 75%;
      flex: 0 0 75%;
  max-width: 75%;
}

.madeit-col-10 {
  -ms-flex: 0 0 83.333333%;
      flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.madeit-col-11 {
  -ms-flex: 0 0 91.666667%;
      flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.madeit-col-12 {
  -ms-flex: 0 0 100%;
      flex: 0 0 100%;
  max-width: 100%;
}

.madeit-order-1 {
  -ms-flex-order: 1;
      order: 1;
}

.madeit-order-2 {
  -ms-flex-order: 2;
      order: 2;
}

.madeit-order-3 {
  -ms-flex-order: 3;
      order: 3;
}

.madeit-order-4 {
  -ms-flex-order: 4;
      order: 4;
}

.madeit-order-5 {
  -ms-flex-order: 5;
      order: 5;
}

.madeit-order-6 {
  -ms-flex-order: 6;
      order: 6;
}

.madeit-order-7 {
  -ms-flex-order: 7;
      order: 7;
}

.madeit-order-8 {
  -ms-flex-order: 8;
      order: 8;
}

.madeit-order-9 {
  -ms-flex-order: 9;
      order: 9;
}

.madeit-order-10 {
  -ms-flex-order: 10;
      order: 10;
}

.madeit-order-11 {
  -ms-flex-order: 11;
      order: 11;
}

.madeit-order-12 {
  -ms-flex-order: 12;
      order: 12;
}

@media (min-width: 576px) {
  .madeit-col-sm {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -ms-flex-positive: 1;
        flex-grow: 1;
    max-width: 100%;
  }
  .madeit-col-sm-auto {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .madeit-col-sm-1 {
    -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .madeit-col-sm-2 {
    -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .madeit-col-sm-3 {
    -ms-flex: 0 0 25%;
        flex: 0 0 25%;
    max-width: 25%;
  }
  .madeit-col-sm-4 {
    -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .madeit-col-sm-5 {
    -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .madeit-col-sm-6 {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    max-width: 50%;
  }
  .madeit-col-sm-7 {
    -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .madeit-col-sm-8 {
    -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .madeit-col-sm-9 {
    -ms-flex: 0 0 75%;
        flex: 0 0 75%;
    max-width: 75%;
  }
  .madeit-col-sm-10 {
    -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .madeit-col-sm-11 {
    -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .madeit-col-sm-12 {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%;
  }
  .madeit-order-sm-1 {
    -ms-flex-order: 1;
        order: 1;
  }
  .madeit-order-sm-2 {
    -ms-flex-order: 2;
        order: 2;
  }
  .madeit-order-sm-3 {
    -ms-flex-order: 3;
        order: 3;
  }
  .madeit-order-sm-4 {
    -ms-flex-order: 4;
        order: 4;
  }
  .madeit-order-sm-5 {
    -ms-flex-order: 5;
        order: 5;
  }
  .madeit-order-sm-6 {
    -ms-flex-order: 6;
        order: 6;
  }
  .madeit-order-sm-7 {
    -ms-flex-order: 7;
        order: 7;
  }
  .madeit-order-sm-8 {
    -ms-flex-order: 8;
        order: 8;
  }
  .madeit-order-sm-9 {
    -ms-flex-order: 9;
        order: 9;
  }
  .madeit-order-sm-10 {
    -ms-flex-order: 10;
        order: 10;
  }
  .madeit-order-sm-11 {
    -ms-flex-order: 11;
        order: 11;
  }
  .madeit-order-sm-12 {
    -ms-flex-order: 12;
        order: 12;
  }
}

@media (min-width: 768px) {
  .madeit-col-md {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -ms-flex-positive: 1;
        flex-grow: 1;
    max-width: 100%;
  }
  .madeit-col-md-auto {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .madeit-col-md-1 {
    -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .madeit-col-md-2 {
    -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .madeit-col-md-3 {
    -ms-flex: 0 0 25%;
        flex: 0 0 25%;
    max-width: 25%;
  }
  .madeit-col-md-4 {
    -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .madeit-col-md-5 {
    -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .madeit-col-md-6 {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    max-width: 50%;
  }
  .madeit-col-md-7 {
    -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .madeit-col-md-8 {
    -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .madeit-col-md-9 {
    -ms-flex: 0 0 75%;
        flex: 0 0 75%;
    max-width: 75%;
  }
  .madeit-col-md-10 {
    -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .madeit-col-md-11 {
    -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .madeit-col-md-12 {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%;
  }
  .madeit-order-md-1 {
    -ms-flex-order: 1;
        order: 1;
  }
  .madeit-order-md-2 {
    -ms-flex-order: 2;
        order: 2;
  }
  .madeit-order-md-3 {
    -ms-flex-order: 3;
        order: 3;
  }
  .madeit-order-md-4 {
    -ms-flex-order: 4;
        order: 4;
  }
  .madeit-order-md-5 {
    -ms-flex-order: 5;
        order: 5;
  }
  .madeit-order-md-6 {
    -ms-flex-order: 6;
        order: 6;
  }
  .madeit-order-md-7 {
    -ms-flex-order: 7;
        order: 7;
  }
  .madeit-order-md-8 {
    -ms-flex-order: 8;
        order: 8;
  }
  .madeit-order-md-9 {
    -ms-flex-order: 9;
        order: 9;
  }
  .madeit-order-md-10 {
    -ms-flex-order: 10;
        order: 10;
  }
  .madeit-order-md-11 {
    -ms-flex-order: 11;
        order: 11;
  }
  .madeit-order-md-12 {
    -ms-flex-order: 12;
        order: 12;
  }
}

@media (min-width: 992px) {
  .madeit-col-lg {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -ms-flex-positive: 1;
        flex-grow: 1;
    max-width: 100%;
  }
  .madeit-col-lg-auto {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .madeit-col-lg-1 {
    -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .madeit-col-lg-2 {
    -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .madeit-col-lg-3 {
    -ms-flex: 0 0 25%;
        flex: 0 0 25%;
    max-width: 25%;
  }
  .madeit-col-lg-4 {
    -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .madeit-col-lg-5 {
    -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .madeit-col-lg-6 {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    max-width: 50%;
  }
  .madeit-col-lg-7 {
    -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .madeit-col-lg-8 {
    -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .madeit-col-lg-9 {
    -ms-flex: 0 0 75%;
        flex: 0 0 75%;
    max-width: 75%;
  }
  .madeit-col-lg-10 {
    -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .madeit-col-lg-11 {
    -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .madeit-col-lg-12 {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%;
  }
  .madeit-order-lg-1 {
    -ms-flex-order: 1;
        order: 1;
  }
  .madeit-order-lg-2 {
    -ms-flex-order: 2;
        order: 2;
  }
  .madeit-order-lg-3 {
    -ms-flex-order: 3;
        order: 3;
  }
  .madeit-order-lg-4 {
    -ms-flex-order: 4;
        order: 4;
  }
  .madeit-order-lg-5 {
    -ms-flex-order: 5;
        order: 5;
  }
  .madeit-order-lg-6 {
    -ms-flex-order: 6;
        order: 6;
  }
  .madeit-order-lg-7 {
    -ms-flex-order: 7;
        order: 7;
  }
  .madeit-order-lg-8 {
    -ms-flex-order: 8;
        order: 8;
  }
  .madeit-order-lg-9 {
    -ms-flex-order: 9;
        order: 9;
  }
  .madeit-order-lg-10 {
    -ms-flex-order: 10;
        order: 10;
  }
  .madeit-order-lg-11 {
    -ms-flex-order: 11;
        order: 11;
  }
  .madeit-order-lg-12 {
    -ms-flex-order: 12;
        order: 12;
  }
}

@media (min-width: 1200px) {
  .madeit-col-xl {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -ms-flex-positive: 1;
        flex-grow: 1;
    max-width: 100%;
  }
  .madeit-col-xl-auto {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .madeit-col-xl-1 {
    -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .madeit-col-xl-2 {
    -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .madeit-col-xl-3 {
    -ms-flex: 0 0 25%;
        flex: 0 0 25%;
    max-width: 25%;
  }
  .madeit-col-xl-4 {
    -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .madeit-col-xl-5 {
    -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .madeit-col-xl-6 {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    max-width: 50%;
  }
  .madeit-col-xl-7 {
    -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .madeit-col-xl-8 {
    -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .madeit-col-xl-9 {
    -ms-flex: 0 0 75%;
        flex: 0 0 75%;
    max-width: 75%;
  }
  .madeit-col-xl-10 {
    -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .madeit-col-xl-11 {
    -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .madeit-col-xl-12 {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%;
  }
  .madeit-order-xl-1 {
    -ms-flex-order: 1;
        order: 1;
  }
  .madeit-order-xl-2 {
    -ms-flex-order: 2;
        order: 2;
  }
  .madeit-order-xl-3 {
    -ms-flex-order: 3;
        order: 3;
  }
  .madeit-order-xl-4 {
    -ms-flex-order: 4;
        order: 4;
  }
  .madeit-order-xl-5 {
    -ms-flex-order: 5;
        order: 5;
  }
  .madeit-order-xl-6 {
    -ms-flex-order: 6;
        order: 6;
  }
  .madeit-order-xl-7 {
    -ms-flex-order: 7;
        order: 7;
  }
  .madeit-order-xl-8 {
    -ms-flex-order: 8;
        order: 8;
  }
  .madeit-order-xl-9 {
    -ms-flex-order: 9;
        order: 9;
  }
  .madeit-order-xl-10 {
    -ms-flex-order: 10;
        order: 10;
  }
  .madeit-order-xl-11 {
    -ms-flex-order: 11;
        order: 11;
  }
  .madeit-order-xl-12 {
    -ms-flex-order: 12;
        order: 12;
  }
}

.madeit-flex-row {
  -ms-flex-direction: row !important;
      flex-direction: row !important;
}

.madeit-flex-column {
  -ms-flex-direction: column !important;
      flex-direction: column !important;
}

.madeit-flex-row-reverse {
  -ms-flex-direction: row-reverse !important;
      flex-direction: row-reverse !important;
}

.madeit-flex-column-reverse {
  -ms-flex-direction: column-reverse !important;
      flex-direction: column-reverse !important;
}

.madeit-flex-wrap {
  -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important;
}

.madeit-flex-nowrap {
  -ms-flex-wrap: nowrap !important;
      flex-wrap: nowrap !important;
}

.madeit-flex-wrap-reverse {
  -ms-flex-wrap: wrap-reverse !important;
      flex-wrap: wrap-reverse !important;
}

.madeit-justify-content-start {
  -ms-flex-pack: start !important;
      justify-content: flex-start !important;
}

.madeit-justify-content-end {
  -ms-flex-pack: end !important;
      justify-content: flex-end !important;
}

.madeit-justify-content-center {
  -ms-flex-pack: center !important;
      justify-content: center !important;
}

.madeit-justify-content-between {
  -ms-flex-pack: justify !important;
      justify-content: space-between !important;
}

.madeit-justify-content-around {
  -ms-flex-pack: distribute !important;
      justify-content: space-around !important;
}

.madeit-align-items-start {
  -ms-flex-align: start !important;
      align-items: flex-start !important;
}

.madeit-align-items-end {
  -ms-flex-align: end !important;
      align-items: flex-end !important;
}

.madeit-align-items-center {
  -ms-flex-align: center !important;
      align-items: center !important;
}

.madeit-align-items-baseline {
  -ms-flex-align: baseline !important;
      align-items: baseline !important;
}

.madeit-align-items-stretch {
  -ms-flex-align: stretch !important;
      align-items: stretch !important;
}

.madeit-align-content-start {
  -ms-flex-line-pack: start !important;
      align-content: flex-start !important;
}

.madeit-align-content-end {
  -ms-flex-line-pack: end !important;
      align-content: flex-end !important;
}

.madeit-align-content-center {
  -ms-flex-line-pack: center !important;
      align-content: center !important;
}

.madeit-align-content-between {
  -ms-flex-line-pack: justify !important;
      align-content: space-between !important;
}

.madeit-align-content-around {
  -ms-flex-line-pack: distribute !important;
      align-content: space-around !important;
}

.madeit-align-content-stretch {
  -ms-flex-line-pack: stretch !important;
      align-content: stretch !important;
}

.madeit-align-self-auto {
  -ms-flex-item-align: auto !important;
      align-self: auto !important;
}

.madeit-align-self-start {
  -ms-flex-item-align: start !important;
      align-self: flex-start !important;
}

.madeit-align-self-end {
  -ms-flex-item-align: end !important;
      align-self: flex-end !important;
}

.madeit-align-self-center {
  -ms-flex-item-align: center !important;
      align-self: center !important;
}

.madeit-align-self-baseline {
  -ms-flex-item-align: baseline !important;
      align-self: baseline !important;
}

.madeit-align-self-stretch {
  -ms-flex-item-align: stretch !important;
      align-self: stretch !important;
}

@media (min-width: 576px) {
  .madeit-flex-sm-row {
    -ms-flex-direction: row !important;
        flex-direction: row !important;
  }
  .madeit-flex-sm-column {
    -ms-flex-direction: column !important;
        flex-direction: column !important;
  }
  .madeit-flex-sm-row-reverse {
    -ms-flex-direction: row-reverse !important;
        flex-direction: row-reverse !important;
  }
  .madeit-flex-sm-column-reverse {
    -ms-flex-direction: column-reverse !important;
        flex-direction: column-reverse !important;
  }
  .madeit-flex-sm-wrap {
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
  }
  .madeit-flex-sm-nowrap {
    -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
  }
  .madeit-flex-sm-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
        flex-wrap: wrap-reverse !important;
  }
  .madeit-justify-content-sm-start {
    -ms-flex-pack: start !important;
        justify-content: flex-start !important;
  }
  .madeit-justify-content-sm-end {
    -ms-flex-pack: end !important;
        justify-content: flex-end !important;
  }
  .madeit-justify-content-sm-center {
    -ms-flex-pack: center !important;
        justify-content: center !important;
  }
  .madeit-justify-content-sm-between {
    -ms-flex-pack: justify !important;
        justify-content: space-between !important;
  }
  .madeit-justify-content-sm-around {
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
  }
  .madeit-align-items-sm-start {
    -ms-flex-align: start !important;
        align-items: flex-start !important;
  }
  .madeit-align-items-sm-end {
    -ms-flex-align: end !important;
        align-items: flex-end !important;
  }
  .madeit-align-items-sm-center {
    -ms-flex-align: center !important;
        align-items: center !important;
  }
  .madeit-align-items-sm-baseline {
    -ms-flex-align: baseline !important;
        align-items: baseline !important;
  }
  .madeit-align-items-sm-stretch {
    -ms-flex-align: stretch !important;
        align-items: stretch !important;
  }
  .madeit-align-content-sm-start {
    -ms-flex-line-pack: start !important;
        align-content: flex-start !important;
  }
  .madeit-align-content-sm-end {
    -ms-flex-line-pack: end !important;
        align-content: flex-end !important;
  }
  .madeit-align-content-sm-center {
    -ms-flex-line-pack: center !important;
        align-content: center !important;
  }
  .madeit-align-content-sm-between {
    -ms-flex-line-pack: justify !important;
        align-content: space-between !important;
  }
  .madeit-align-content-sm-around {
    -ms-flex-line-pack: distribute !important;
        align-content: space-around !important;
  }
  .madeit-align-content-sm-stretch {
    -ms-flex-line-pack: stretch !important;
        align-content: stretch !important;
  }
  .madeit-align-self-sm-auto {
    -ms-flex-item-align: auto !important;
        align-self: auto !important;
  }
  .madeit-align-self-sm-start {
    -ms-flex-item-align: start !important;
        align-self: flex-start !important;
  }
  .madeit-align-self-sm-end {
    -ms-flex-item-align: end !important;
        align-self: flex-end !important;
  }
  .madeit-align-self-sm-center {
    -ms-flex-item-align: center !important;
        align-self: center !important;
  }
  .madeit-align-self-sm-baseline {
    -ms-flex-item-align: baseline !important;
        align-self: baseline !important;
  }
  .madeit-align-self-sm-stretch {
    -ms-flex-item-align: stretch !important;
        align-self: stretch !important;
  }
}

@media (min-width: 768px) {
  .madeit-flex-md-row {
    -ms-flex-direction: row !important;
        flex-direction: row !important;
  }
  .madeit-flex-md-column {
    -ms-flex-direction: column !important;
        flex-direction: column !important;
  }
  .madeit-flex-md-row-reverse {
    -ms-flex-direction: row-reverse !important;
        flex-direction: row-reverse !important;
  }
  .madeit-flex-md-column-reverse {
    -ms-flex-direction: column-reverse !important;
        flex-direction: column-reverse !important;
  }
  .madeit-flex-md-wrap {
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
  }
  .madeit-flex-md-nowrap {
    -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
  }
  .madeit-flex-md-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
        flex-wrap: wrap-reverse !important;
  }
  .madeit-justify-content-md-start {
    -ms-flex-pack: start !important;
        justify-content: flex-start !important;
  }
  .madeit-justify-content-md-end {
    -ms-flex-pack: end !important;
        justify-content: flex-end !important;
  }
  .madeit-justify-content-md-center {
    -ms-flex-pack: center !important;
        justify-content: center !important;
  }
  .madeit-justify-content-md-between {
    -ms-flex-pack: justify !important;
        justify-content: space-between !important;
  }
  .madeit-justify-content-md-around {
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
  }
  .madeit-align-items-md-start {
    -ms-flex-align: start !important;
        align-items: flex-start !important;
  }
  .madeit-align-items-md-end {
    -ms-flex-align: end !important;
        align-items: flex-end !important;
  }
  .madeit-align-items-md-center {
    -ms-flex-align: center !important;
        align-items: center !important;
  }
  .madeit-align-items-md-baseline {
    -ms-flex-align: baseline !important;
        align-items: baseline !important;
  }
  .madeit-align-items-md-stretch {
    -ms-flex-align: stretch !important;
        align-items: stretch !important;
  }
  .madeit-align-content-md-start {
    -ms-flex-line-pack: start !important;
        align-content: flex-start !important;
  }
  .madeit-align-content-md-end {
    -ms-flex-line-pack: end !important;
        align-content: flex-end !important;
  }
  .madeit-align-content-md-center {
    -ms-flex-line-pack: center !important;
        align-content: center !important;
  }
  .madeit-align-content-md-between {
    -ms-flex-line-pack: justify !important;
        align-content: space-between !important;
  }
  .madeit-align-content-md-around {
    -ms-flex-line-pack: distribute !important;
        align-content: space-around !important;
  }
  .madeit-align-content-md-stretch {
    -ms-flex-line-pack: stretch !important;
        align-content: stretch !important;
  }
  .madeit-align-self-md-auto {
    -ms-flex-item-align: auto !important;
        align-self: auto !important;
  }
  .madeit-align-self-md-start {
    -ms-flex-item-align: start !important;
        align-self: flex-start !important;
  }
  .madeit-align-self-md-end {
    -ms-flex-item-align: end !important;
        align-self: flex-end !important;
  }
  .madeit-align-self-md-center {
    -ms-flex-item-align: center !important;
        align-self: center !important;
  }
  .madeit-align-self-md-baseline {
    -ms-flex-item-align: baseline !important;
        align-self: baseline !important;
  }
  .madeit-align-self-md-stretch {
    -ms-flex-item-align: stretch !important;
        align-self: stretch !important;
  }
}

@media (min-width: 992px) {
  .madeit-flex-lg-row {
    -ms-flex-direction: row !important;
        flex-direction: row !important;
  }
  .madeit-flex-lg-column {
    -ms-flex-direction: column !important;
        flex-direction: column !important;
  }
  .madeit-flex-lg-row-reverse {
    -ms-flex-direction: row-reverse !important;
        flex-direction: row-reverse !important;
  }
  .madeit-flex-lg-column-reverse {
    -ms-flex-direction: column-reverse !important;
        flex-direction: column-reverse !important;
  }
  .madeit-flex-lg-wrap {
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
  }
  .madeit-flex-lg-nowrap {
    -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
  }
  .madeit-flex-lg-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
        flex-wrap: wrap-reverse !important;
  }
  .madeit-justify-content-lg-start {
    -ms-flex-pack: start !important;
        justify-content: flex-start !important;
  }
  .madeit-justify-content-lg-end {
    -ms-flex-pack: end !important;
        justify-content: flex-end !important;
  }
  .madeit-justify-content-lg-center {
    -ms-flex-pack: center !important;
        justify-content: center !important;
  }
  .madeit-justify-content-lg-between {
    -ms-flex-pack: justify !important;
        justify-content: space-between !important;
  }
  .madeit-justify-content-lg-around {
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
  }
  .madeit-align-items-lg-start {
    -ms-flex-align: start !important;
        align-items: flex-start !important;
  }
  .madeit-align-items-lg-end {
    -ms-flex-align: end !important;
        align-items: flex-end !important;
  }
  .madeit-align-items-lg-center {
    -ms-flex-align: center !important;
        align-items: center !important;
  }
  .madeit-align-items-lg-baseline {
    -ms-flex-align: baseline !important;
        align-items: baseline !important;
  }
  .madeit-align-items-lg-stretch {
    -ms-flex-align: stretch !important;
        align-items: stretch !important;
  }
  .madeit-align-content-lg-start {
    -ms-flex-line-pack: start !important;
        align-content: flex-start !important;
  }
  .madeit-align-content-lg-end {
    -ms-flex-line-pack: end !important;
        align-content: flex-end !important;
  }
  .madeit-align-content-lg-center {
    -ms-flex-line-pack: center !important;
        align-content: center !important;
  }
  .madeit-align-content-lg-between {
    -ms-flex-line-pack: justify !important;
        align-content: space-between !important;
  }
  .madeit-align-content-lg-around {
    -ms-flex-line-pack: distribute !important;
        align-content: space-around !important;
  }
  .madeit-align-content-lg-stretch {
    -ms-flex-line-pack: stretch !important;
        align-content: stretch !important;
  }
  .madeit-align-self-lg-auto {
    -ms-flex-item-align: auto !important;
        align-self: auto !important;
  }
  .madeit-align-self-lg-start {
    -ms-flex-item-align: start !important;
        align-self: flex-start !important;
  }
  .madeit-align-self-lg-end {
    -ms-flex-item-align: end !important;
        align-self: flex-end !important;
  }
  .madeit-align-self-lg-center {
    -ms-flex-item-align: center !important;
        align-self: center !important;
  }
  .madeit-align-self-lg-baseline {
    -ms-flex-item-align: baseline !important;
        align-self: baseline !important;
  }
  .madeit-align-self-lg-stretch {
    -ms-flex-item-align: stretch !important;
        align-self: stretch !important;
  }
}

@media (min-width: 1200px) {
  .madeit-flex-xl-row {
    -ms-flex-direction: row !important;
        flex-direction: row !important;
  }
  .madeit-flex-xl-column {
    -ms-flex-direction: column !important;
        flex-direction: column !important;
  }
  .madeit-flex-xl-row-reverse {
    -ms-flex-direction: row-reverse !important;
        flex-direction: row-reverse !important;
  }
  .madeit-flex-xl-column-reverse {
    -ms-flex-direction: column-reverse !important;
        flex-direction: column-reverse !important;
  }
  .madeit-flex-xl-wrap {
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
  }
  .madeit-flex-xl-nowrap {
    -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
  }
  .madeit-flex-xl-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
        flex-wrap: wrap-reverse !important;
  }
  .madeit-justify-content-xl-start {
    -ms-flex-pack: start !important;
        justify-content: flex-start !important;
  }
  .madeit-justify-content-xl-end {
    -ms-flex-pack: end !important;
        justify-content: flex-end !important;
  }
  .madeit-justify-content-xl-center {
    -ms-flex-pack: center !important;
        justify-content: center !important;
  }
  .madeit-justify-content-xl-between {
    -ms-flex-pack: justify !important;
        justify-content: space-between !important;
  }
  .madeit-justify-content-xl-around {
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
  }
  .madeit-align-items-xl-start {
    -ms-flex-align: start !important;
        align-items: flex-start !important;
  }
  .madeit-align-items-xl-end {
    -ms-flex-align: end !important;
        align-items: flex-end !important;
  }
  .madeit-align-items-xl-center {
    -ms-flex-align: center !important;
        align-items: center !important;
  }
  .madeit-align-items-xl-baseline {
    -ms-flex-align: baseline !important;
        align-items: baseline !important;
  }
  .madeit-align-items-xl-stretch {
    -ms-flex-align: stretch !important;
        align-items: stretch !important;
  }
  .madeit-align-content-xl-start {
    -ms-flex-line-pack: start !important;
        align-content: flex-start !important;
  }
  .madeit-align-content-xl-end {
    -ms-flex-line-pack: end !important;
        align-content: flex-end !important;
  }
  .madeit-align-content-xl-center {
    -ms-flex-line-pack: center !important;
        align-content: center !important;
  }
  .madeit-align-content-xl-between {
    -ms-flex-line-pack: justify !important;
        align-content: space-between !important;
  }
  .madeit-align-content-xl-around {
    -ms-flex-line-pack: distribute !important;
        align-content: space-around !important;
  }
  .madeit-align-content-xl-stretch {
    -ms-flex-line-pack: stretch !important;
        align-content: stretch !important;
  }
  .madeit-align-self-xl-auto {
    -ms-flex-item-align: auto !important;
        align-self: auto !important;
  }
  .madeit-align-self-xl-start {
    -ms-flex-item-align: start !important;
        align-self: flex-start !important;
  }
  .madeit-align-self-xl-end {
    -ms-flex-item-align: end !important;
        align-self: flex-end !important;
  }
  .madeit-align-self-xl-center {
    -ms-flex-item-align: center !important;
        align-self: center !important;
  }
  .madeit-align-self-xl-baseline {
    -ms-flex-item-align: baseline !important;
        align-self: baseline !important;
  }
  .madeit-align-self-xl-stretch {
    -ms-flex-item-align: stretch !important;
        align-self: stretch !important;
  }
}
/*# sourceMappingURL=bootstrap-grid.css.map */